@use '../../styles/main'
    
.container
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    min-height: 100vh
    position: relative

.header
    padding: 0px
    margin: 0px
    letter-spacing: .4rem
    z-index: 10
    font-size: 9rem
    font-family: 'Beckman', 'sans-serif'
    font-weight: 400
    +main.d
        font-size: 6rem
        letter-spacing: .2rem
    +main.m
        font-size: 7rem

.headerLastName
    padding: 0px
    margin: 0px
    display: flex
    justify-content: center
    align-items: center
    letter-spacing: .4rem
    z-index: 10
    font-size: 9rem
    font-family: 'Beckman', 'sans-serif'
    font-weight: 400
    +main.d
        font-size: 6rem
        letter-spacing: .2rem
    +main.m
        margin-top: 10px
        font-size: 1.4rem

.animations
    width: 100%
    height: 40vh
    display: flex
    // background: #fff
    justify-content: center
    align-items: center
    flex-direction: column
    +main.m
        height: 60vh
        width: 80%

.firstRow
    display: flex
    align-items: center
    justify-content: center
    flex-direction: row
    width: 100%
    +main.m
        flex-direction: column
    

.eyeBox
    cursor: pointer
    width: 100%
    background: #fff
    border-radius: 120px
    height: 13vh
    margin: 10px
    transition: transform .3s ease
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1)
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1)
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1)
    display: flex
    justify-content: center
    position: relative
    overflow: hidden
    // min-height: 7rem
    -webkit-animation: blink 5s infinite
    animation: blink 5s infinite
    -webkit-transform-origin: 50%
    +main.d
        width: 30%
        height: 9vh
    +main.m
        width: 80%
        min-height: 90px
    &.eyeBlink
        animation: none
        box-shadow: none


@keyframes blink
    0%, 100%
        transform: scale(1, .5)
        border-top: 0px
    5%,
    95%
        border-top: 10px solid #000
        border-bottom: 5px solid #000
        transform: scale(1, 1)


.eyeBraw
    transition: transform .3s ease
    width: 150%
    border-bottom: 20px solid #000
    height: 100%
    background: #10A19D
    z-index: 100
    animation: blinkBraw 5s infinite
    &.eyeBlink
        transform: translateY(0)
        animation: none
        border-bottom: 50px solid #000000
        position: absolute

@keyframes blinkBraw
    0%, 100%
        transform: translateY(0)
        scale: 2
    5%,
    95%
        transform: translateY(-80%)


.eyeBall
    overflow: hidden
    z-index: 10
    border: 7px solid #0f0f0f
    top: -60px
    background: #FF7000
    height: 250px
    transition: transform .2s ease
    width: 250px
    border-radius: 50%
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    +main.d
        height: 160px
        width: 160px
        top: -30px
    +main.m
        top: -10px
        height: 120px
        width: 120px
        border: 3px solid #0f0f0f

.eyePoint
    background: #0e0e0e
    border: 10px solid #ff6f00dc
    width: 50%
    height: 50%
    z-index: 190
    position: absolute
    transition: transform .2s ease
    border-radius: 50%
    -webkit-box-shadow: 0px 0px 60px 6px rgba(66, 68, 90, 1)
    -moz-box-shadow: 0px 0px 60px 6px rgba(66, 68, 90, 1)
    box-shadow: 0px 0px 60px 6px rgba(66, 68, 90, 1)
    +main.d
        width: 60%
        height: 60%
    +main.m
        border: 7px solid #ff6f00dc
        -webkit-box-shadow: 0px 0px 12px 6px #42445a6b
        -moz-box-shadow: 0px 0px 12px 6px #42445a6b
        box-shadow: 0px 0px 12px 12px #42445a6b

.slider
    color: #10A19D
    width: 100%
    margin: 60px 0px
    background: #000
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row
    height: 4vh
    min-height: 5rem
    overflow: hidden
    border-radius: 45px
    +main.d
        width: 85%
    +main.m
        margin: 10px 0px
        width: 80%
        min-height: 90px

%list
    font-size: 1.8rem
    // display: flex
    display: inline-block
    // flex-direction: row
    left: 100%
    width: auto
    position: absolute
    white-space: nowrap
    animation: marquee 30s linear infinite

.list
    @extend  %list
    +main.m
        font-size: 2.5rem
        animation: marqueeMobile 20s linear infinite

.listTwo
    @extend  %list
    animation-delay: 15s
    +main.m
        font-size: 2.5rem
        animation: marqueeMobile 20s linear infinite
        animation-delay: 10s

.listElement
    display: inline-block
    padding: 0px 6%
    color: #10A19D
    position: relative
    +main.d
        padding: 0px 2.6vw
    +main.t
        padding: 0px 0.2vw
    +main.m
        padding: 0px 3%
    &:before
        content: " "
        width: 13px
        height: 13px
        border-radius: 50%
        background: #10A19D
        position: absolute
        top: 40%
        left: -4px
        z-index: 100
        display: flex
        +main.t
            display: none

@keyframes marquee
    0%
        left: 100%
    100%
        left: -100%

@keyframes marqueeMobile
    0%
        left: 300%
    100%
        left: -300%

.arrow
    position: absolute
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    margin-top: 90vh
    animation: fadeIn 2s 

.arrow img
    animation: shake 3s infinite
    animation: fadeIn 2s 
    transition: .4s

@keyframes shake
    0%, 100%
        transform: translateY(0)
        scale: .6
    5%,
    95%
        transform: translateY(-80%)

.onBottom
    transform: rotate(180deg) translateY(50%)
    animation: fadeIn 2s 

.onBottom img
    animation: fadeIn 2s 
    transition: .4s

@keyframes fadeIn
    0%
        opacity: 0